{% extends 'layout.html' %}
{% block content %}

<form action="" method="POST">

    <fieldset class="form-group">
        <div class="container">
            <div class="card mt-3 mb-4">
                <div class="card-header">Paper Size</div>
                <div class="card-body custom-control custom-radio">
                    <div class="p-2">
                        <input type="radio" class="m-2" name="paper_size" value="a4-portrait" onclick="onFixedSizeClicked()" checked>A4 Portrait
                        <input type="radio" class="m-2" name="paper_size" value="a5-portrait" onclick="onFixedSizeClicked()">A5 Portrait
                        <input type="radio" class="m-2" name="paper_size" value="a5-landscape" onclick="onFixedSizeClicked()">A5 Landscape
                        <input type="radio" class="m-2" name="paper_size" value="letter" onclick="onFixedSizeClicked()">Letter
                        <br>
                        <input type="radio" class="m-2" name="paper_size" value="custom-size" onclick="onCustomSizeClicked()">Custom size
                        <input type="text" class="m-2" id="custom-width" disabled>
                        &times;
                        <input type="text" class="m-2" id="custom-height" disabled>
                        mm
                        <div class="collapsible more-paper-size-options">More paper sizes</div>
                        <div class="more-paper-sizes">
                            <input type="radio" class="m-2" name="paper_size" value="b5-portrait" onclick="onFixedSizeClicked()">B5 Portrait
                        </div>

                        <!-- Show red frame around the option to caution the user -->
                        <div id="rotate-option-container">
                            <input type="checkbox" id="rotate-page-90-degrees" onclick="onRotateOptionClicked()">
                            Turn the scanned pages by 90 degrees to output as landscape
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Sides</div>
                <div class="card-body custom-control custom-radio">
                    <span class="p-4">
                        <input type="radio" class="m-2" name="sides" value="front">One side
                        <input type="radio" class="m-2" name="sides" value="duplex" checked>Both sides (front & back)
                    </span>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Color</div>
                <div class="card-body custom-control custom-radio">
                    <span class="p-4">
                        <input type="radio" class="m-2" name="color" value="color" checked>Color
                        <input type="radio" class="m-2" name="color" value="grayscale">Grayscale
                    </span>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Resolution</div>
                <div class="card-body custom-control custom-radio">
                    <span class="p-4">
                        <input type="radio" class="m-2" name="resolution" value="200" checked>200
                        <input type="radio" class="m-2" name="resolution" value="300">300
                        <input type="radio" class="m-2" name="resolution" value="400">400
                    </span>
                </div>            
            </div>

            <div class="card mb-4">
                <div class="card-header">Output Format</div>
                <div class="card-body custom-control custom-radio">
                    <input type="radio" class="m-2" name="output_format" value="pdf" checked>PDF
                    <input type="radio" class="m-2" name="output_format" value="jpeg">JPEG file(s)
                    <input type="radio" class="m-2" name="output_format" value="pdf_and_jpeg">PDF & JPEG
                </div>
            </div>
        </div>
    </fieldset>
    <div id="scan-btn-container" class="form-group px-3">
        <button class="btn btn-primary" type="button" onclick="startScan();">Scan</button>
    </div>
</form>

<!--
    Adding a button, instead of an anchor tag, which links to a file turned
    out to be trickier than expected, and I simply couldn't find a way
    other than creating a new form tag and adding a button there.
-->
<div class="container px-3 mb-4">
    <form id="download-form" action="" target="_blank">
        <button id="download-button" type="submit" class="btn btn-primary" onclick="">Download</button>
    </form>    
</div>

{% endblock content %}