#rotate-option-container {
    padding: 4px;
    border: 2px solid rgba(255, 60, 60, .0);
    display: inline-block;
}
#even-numbered-page-rotation-option-container {
    padding: 4px;
    border: 2px solid rgba(255, 60, 60, .0);
    /*display: inline-block;*/
}

/* Style the button that is used to open and close the collapsible content */
.more-paper-size-options {
    background-color: rgba(0, 0, 0, 0, .0);
    cursor: pointer;
    padding: 3px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .more-paper-size-options:hover {
    background-color: #ccc;
}*/

/* Style the collapsible content. Note: hidden by default */
.more-paper-sizes {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#brightness-slider {
    width: 75%;
}

#download-form {
    visibility: hidden;
}

#download-button {
    visibility: inherit;
}

/*
  Scan button is hidden by default.
  Set to visible upon confirming that the scanner is available.
*/
#scan-btn-container {
    visibility: hidden;
}

#download-file-desc {
    color: gray;
    font-size: 14px;
    margin: 5px;
}

.r {
    color: rgb(255, 75, 75);
}

.g {
    color: rgb(75, 255, 75);
}

.b {
    color: rgb(75, 75, 255);
}

.dark {
    color: #444;
}

.gray {
    color: #888;
}

.silver {
    color: #bbb;
}